Flask==2.3.3
langchain==0.1.14
langchain-community==0.0.36
langchain-groq==0.0.1
chromadb==0.4.24
sentence-transformers==2.2.2
torch>=1.10.0
transformers>=4.31.0
faiss-cpu==1.7.4
PyPDF2==3.0.1
gunicorn==21.2.0
